@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.career {
  width: 100%;
  margin: auto;
}

.career-cntr {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .career-heading {
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .career-text{
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
    width: 60%;
  }

  img{
    width: 500px;
    height: 500px;
  }

}
